* { 
    box-sizing: border-box; 
}

html{
    height: 100%;
}

body {    
    font: 15px Helvetica, Arial;
    max-width: 960px;
    margin: auto;
    height: 100%;    
}

#box {
    background-color: rgb(223, 223, 223);
    height: 100%;
    border-radius: 25px;
}

#container {
    height: 100%;
    list-style: none;
    margin: auto;
    padding: 0;
    display: flex;
    border-radius: 25px;
}

#chat {
    width: 65%;
    height: 100%;     
    display: table;
}

#chatCell {
    display: table-cell;
}

.chatBox {
    width: inherit;
    height: 100%;
    margin: 0 3px 0 6px;
    padding: 10px;
}

#activeUsers {
    width: 35%;
    height: 100%;
    background-color: rgb(33, 55, 88);
    border-radius: 25px;
}

#usersCell {
    margin: 0 6px 0 3px;
    padding: 10px;
    color: aliceblue;
    font-weight: bold;
}

#onlineUsers {
    background-color: rgb(223, 223, 223);
    list-style-type: none;
    margin: 0 6px 0 3px;
    padding: 10px;
    border-radius: 25px;
}

#formContainer {
    position: fixed; 
    bottom: 10px;
    width: inherit;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
}

form input { 
    border-radius: 25px;
    border: none;
    padding: 10px;
    width: 85%;
    font-size: 15px;
}

form input:focus {
    outline: none;
}

form button { 
    border-radius: 25px;
    background: rgb(33, 55, 88);
    color: aliceblue;
    border: none;
    width: 15%;
    font-size: 13px;
    padding: 1px;    
}

form button:focus {
    outline: none;
}

#messages {
    position: fixed; 
    bottom: 8%;
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    width: inherit;
    height: 92%;
    overflow-y: auto;
    
    display: flex;
    flex-direction: column-reverse;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#messages::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#messages {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#messages li { 
    border-radius: 25px;
    margin: 5px 0; 
    padding: 5px 10px;
}

.connection {    
    color: green;
    font-style: italic;   
    font-size: 12px;
}

.disconnection {
    color: red;
    font-style: italic;
    font-size: 12px;
}

.nameChange {
    color: black;
    font-style: italic;
    font-size: 12px;
}

.colorChange {
    color: black;
    font-style: italic;
    font-size: 12px;
}

.normalMessage {
    color: black;
    background: #eee; 
}